@font-face {
  font-family: pbr-font;
    src: url("/bank_assets/br/fonts/pbr-font.eot");
    src: url("/bank_assets/br/fonts/pbr-font.eot?#iefix") format("embedded-opentype"), 
      url("/bank_assets/br/fonts/pbr-font.woff") format("woff"), 
      url("/bank_assets/br/fonts/pbr-font.ttf") format("truetype"), 
      url("/bank_assets/br/fonts/pbr-font.svg#pbr-font") format("svg");
    font-style: normal;
    font-weight: 400;
}

.pbr {
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
  font: normal normal 400 14px/1 pbr-font, Serif;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.pbr-lg {
  vertical-align: -15%;
  line-height: 0.75em;
  font-size: 1.33333333em;
}

.pbr-2x {
  font-size: 2em;
}

.pbr-3x {
  font-size: 3em;
}

.pbr-4x {
  font-size: 4em;
}

.pbr-5x {
  font-size: 5em;
}

.pbr-fw {
  width: 1.28571429em;
  text-align: center;
}

.pbr-3d:before {
  content: "\ea01";
}
.pbr-account-in:before {
  content: "\ea02";
}
.pbr-account-out:before {
  content: "\ea03";
}
.pbr-account-saving:before {
  content: "\ea04";
}
.pbr-account-statement:before {
  content: "\ea05";
}
.pbr-alert:before {
  content: "\ea06";
}
.pbr-archive:before {
  content: "\ea07";
}
.pbr-attachement:before {
  content: "\ea08";
}
.pbr-bank:before {
  content: "\ea09";
}
.pbr-browser:before {
  content: "\ea0a";
}
.pbr-calculator:before {
  content: "\ea0b";
}
.pbr-calendar:before {
  content: "\ea0c";
}
.pbr-card:before {
  content: "\ea0d";
}
.pbr-card-down:before {
  content: "\ea0e";
}
.pbr-card-up:before {
  content: "\ea0f";
}
.pbr-cards-double:before {
  content: "\ea10";
}
.pbr-chat:before {
  content: "\ea11";
}
.pbr-chevron-down:before {
  content: "\ea12";
}
.pbr-chevron-left:before {
  content: "\ea13";
}
.pbr-chevron-right:before {
  content: "\ea14";
}
.pbr-chevron-up:before {
  content: "\ea15";
}
.pbr-clock:before {
  content: "\ea16";
}
.pbr-close:before {
  content: "\ea17";
}
.pbr-cloud:before {
  content: "\ea18";
}
.pbr-contact:before {
  content: "\ea19";
}
.pbr-credit:before {
  content: "\ea1a";
}
.pbr-digit-hidden:before {
  content: "\ea1b";
}
.pbr-disabled:before {
  content: "\ea1c";
}
.pbr-display:before {
  content: "\ea1d";
}
.pbr-doc-sign:before {
  content: "\ea1e";
}
.pbr-document:before {
  content: "\ea1f";
}
.pbr-document-download:before {
  content: "\ea20";
}
.pbr-document-empty:before {
  content: "\ea21";
}
.pbr-document-view:before {
  content: "\ea22";
}
.pbr-documents-download:before {
  content: "\ea23";
}
.pbr-dots-vertical:before {
  content: "\ea24";
}
.pbr-earth:before {
  content: "\ea25";
}
.pbr-export:before {
  content: "\ea26";
}
.pbr-external-link:before {
  content: "\ea27";
}
.pbr-faceid:before {
  content: "\ea28";
}
.pbr-fax:before {
  content: "\ea29";
}
.pbr-file-csv:before {
  content: "\ea2a";
}
.pbr-file-jpg:before {
  content: "\ea2b";
}
.pbr-file-pdf:before {
  content: "\ea2c";
}
.pbr-filter:before {
  content: "\ea2d";
}
.pbr-fingerprint:before {
  content: "\ea2e";
}
.pbr-first-connexion:before {
  content: "\ea2f";
}
.pbr-geoloc:before {
  content: "\ea30";
}
.pbr-help:before {
  content: "\ea31";
}
.pbr-helpdesk:before {
  content: "\ea32";
}
.pbr-home:before {
  content: "\ea33";
}
.pbr-info:before {
  content: "\ea34";
}
.pbr-input:before {
  content: "\ea35";
}
.pbr-limits:before {
  content: "\ea36";
}
.pbr-list:before {
  content: "\ea37";
}
.pbr-logout:before {
  content: "\ea38";
}
.pbr-mail:before {
  content: "\ea39";
}
.pbr-mail-new:before {
  content: "\ea3a";
}
.pbr-mailconseiller:before {
  content: "\ea3b";
}
.pbr-maintenance:before {
  content: "\ea3c";
}
.pbr-map:before {
  content: "\ea3d";
}
.pbr-map-pin:before {
  content: "\ea3e";
}
.pbr-new-transfert:before {
  content: "\ea3f";
}
.pbr-notification:before {
  content: "\ea40";
}
.pbr-oblic:before {
  content: "\ea41";
}
.pbr-operations:before {
  content: "\ea42";
}
.pbr-ordering:before {
  content: "\ea43";
}
.pbr-output:before {
  content: "\ea44";
}
.pbr-pen:before {
  content: "\ea45";
}
.pbr-people:before {
  content: "\ea46";
}
.pbr-phone:before {
  content: "\ea47";
}
.pbr-phone-mobile:before {
  content: "\ea48";
}
.pbr-phone-wireless:before {
  content: "\ea49";
}
.pbr-pin:before {
  content: "\ea4a";
}
.pbr-plus:before {
  content: "\ea4b";
}
.pbr-plus-circle:before {
  content: "\ea4c";
}
.pbr-question:before {
  content: "\ea4d";
}
.pbr-reload:before {
  content: "\ea4e";
}
.pbr-reply:before {
  content: "\ea4f";
}
.pbr-reset:before {
  content: "\ea50";
}
.pbr-saving:before {
  content: "\ea51";
}
.pbr-search:before {
  content: "\ea52";
}
.pbr-search-advanced:before {
  content: "\ea53";
}
.pbr-security:before {
  content: "\ea54";
}
.pbr-setting:before {
  content: "\ea55";
}
.pbr-settings:before {
  content: "\ea56";
}
.pbr-sos:before {
  content: "\ea57";
}
.pbr-star:before {
  content: "\ea58";
}
.pbr-statement:before {
  content: "\ea59";
}
.pbr-storm:before {
  content: "\ea5a";
}
.pbr-student:before{
  content: "\ebbb";
}
.pbr-success:before {
  content: "\ea5b";
}
.pbr-sun:before {
  content: "\ea5c";
}
.pbr-swipe:before {
  content: "\ea5d";
}
.pbr-transfert:before {
  content: "\ea5e";
}
.pbr-trash:before {
  content: "\ea5f";
}
.pbr-unfav:before {
  content: "\ea60";
}
.pbr-unlock:before {
  content: "\ea61";
}
.pbr-user:before {
  content: "\ea62";
}
.pbr-user-add:before {
  content: "\ea63";
}
.pbr-variation-down:before {
  content: "\ea64";
}
.pbr-variation-neutral:before {
  content: "\ea65";
}
.pbr-variation-up:before {
  content: "\ea66";
}
.pbr-wallet:before {
  content: "\ea67";
}
.pbr-epayment:before {
  content: "\e96b";
}
.pbr-deposit:before {
  content: "\e921";
}
.pbr-opera .path1:before {
  content: "\e905";
  color: rgb(205, 213, 0);
}
.pbr-opera .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera .path6:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera .path7:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera .path8:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera .path9:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera .path10:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera .path11:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path1:before {
  content: "\e910";
  color: rgb(205, 213, 0);
}
.pbr-opera-plus .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera-plus .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera-plus .path4:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera-plus .path5:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera-plus .path6:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(205, 213, 0);
}
.pbr-opera-plus .path7:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path8:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path9:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path10:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path11:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path12:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path13:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path14:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-opera-plus .path15:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 31, 71);
}
.pbr-discretionary-management:before {
  content: "\e903";
}
.pbr-stock-exchange:before {
  content: "\e900";
}
.pbr-personal-loan:before {
  content: "\e901";
}
.pbr-portfolio-search:before {
  content: "\e902";
}
.pbr-portfolio:before {
  content: "\e904";
}
.pbr-consent:before {
  content: "\e91f";
}
.pbr-evaluation-portefeuille:before {
  content: "\e920";
}

.pbr-notification-alert:before {
  content: "\e948";
  color: #ffbd48;
}
.pbr-sos-fraud:before {
  content: "\e928";
}
.pbr-icone-signature:before {
  content: "\e922";
}
.pbr-instant-payment:before {
  content: "\e923";
}
